*.tif filter=lfs diff=lfs merge=lfs -text
C:/Users/BBORIS/Documents/GitHub/cactus/cactus/Assets/Creator[[:space:]]Kit[[:space:]]-[[:space:]]Beginner[[:space:]]Code/Art/Texture/Buildingsdsdfsf filter=lfs diff=lfs merge=lfs -text
C:/Users/BBORIS/Documents/GitHub/cactus/cactus/Assets/Creator[[:space:]]Kit[[:space:]]-[[:space:]]Beginner[[:space:]]Code/Art/Texture/Buildings/Buildings_Albedo.tif filter=lfs diff=lfs merge=lfs -text
